# DB
DATABASE_URL="file:./prisma/dev.db"
DATABASE_URL_TEST="file:./prisma/test.db"
DATABASE_URL_PROD="file:./prisma/prod.db"

# JWT
JWT_SECRET="CHANGE_ME"

# Seed Users (for local/dev only)
ADMIN_EMAIL=admin@penta.com
ADMIN_PASSWORD=123456
COACH_EMAIL=coach@penta.com
COACH_PASSWORD=123456

DEBUG_AUTH=0
NODE_ENV=development
