# deps
node_modules/

# env files
.env
.env.*

# prisma generated
/generated/prisma
node_modules/.prisma/

# sqlite/prisma db artifacts anywhere
**/*.db
**/*.db-journal
**/*.db-wal
**/*.db-shm

# uploads
uploads/
# accidental output files
tatus
*.log
*.tmp
